.cart {
  font-weight: normal;
  font-size: 44px;
  line-height: 52px;
  margin-top: 17px;
  margin-bottom: 97px;

  @include mobile {
    font-size: 18px;
    line-height: 110%;
    margin-top: -8px;
  }

  .cart-list {
    margin: 0;
  }

  .cart-item {
    margin: 0;

    @media screen and (max-width: 1024px) {
      padding-bottom: 15px;
      padding-top: 20px;
      border-bottom: 1px solid #302D2D;

      &:last-child {
        border-bottom: none;
      }
    }

    &--header {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 23px;

      @media screen and (max-width: 1024px) {
        display: none;
      }

      .item-delete {
        color: transparent;
      }
    }

    &__color {
      opacity: 0.2;
    }
  }

  .item {
    border: none;
    margin-bottom: 22px;

    @include mobile {
      margin-bottom: 0;
    }
  }


  @media screen and (max-width: 1024px) {
    .item-content {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  .item-caption {
    flex: 0 0 auto;
    width: 56.3%;
    @media screen and (max-width: 1024px) {
      width: 100%;
      padding-left: 0;
    }
  }

  .item-title {
    transition: color 0.4s;
  }

  .item-title:hover {
    color: #8F8F8F;

  }

  .cart-item-inner {
    @media screen and (max-width: 1024px) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .item-counter {
    padding: 0;
    flex: unset;
    width: 314px;

    @media screen and (max-width: 1024px) {
      width: 78px;
      order: 3;
      margin-right: 22px;
      margin-left: auto;
    }
  }

  .counter {
    width: 9rem;
    height: 3rem;
    margin-bottom: 3px;

    @include mobile {
      width: 75px;
      height: 20px;
      margin-right: 16px;
    }
  }

  .counter-button {
    transition: none;
    flex: 0 0 2rem;
    padding: 0;
    height: auto;
    font-size: 44px;
    line-height: 52px;
    border: none;
    color: #3d3d3d;
    background-color: transparent;
    border-radius: 0;

    @include mobile {
      display: block;
      font-size: 18px;
      line-height: 110%;
    }

    &::before {
      font-family: $font-family;
    }

    &.is-count-down {
      &::before {
        content: "(-)";
        opacity: 0.5;
      }
    }

    &.is-count-up {
      &::before {
        content: "(+)";
        opacity: 0.5;
      }
    }
  }

  .counter-input {
    flex: 1 1 auto;
    min-width: 4.2rem;
    border: 0;
    border-bottom: none;
    border-top: none;
    background-color: transparent;
    color: #302D2D;
    text-align: center;
    outline: none;

    @media screen and (max-width: 1024px) {
      min-width: 16px;
    margin: 0px -11px;
    }
  }

  .item-delete {
    padding-right: 7px;
    padding-left: 0;
    width: 31px;

    @media screen and (max-width: 1024px) {
      width: 25px;
      margin-left: auto;
    }

    @include mobile {
      width: 10px;
    }
}

  .item-prices.is-total-price {
    padding: 0;
    width: 272px;
    flex: unset;
    text-align: left;
    // font-size: 44px;
    // line-height: 52px;

    @include mobile {
      font-size: 18px;
      line-height: 20px;
      width: 107px;
      order: 2;
    }
  }



  .item-delete {

    @media screen and (max-width: 1024px) {
      order: 4;
    }
    button {
      padding: 0;

      &:hover {
        background-color: transparent;
      }

      &::after {
        display: none;
      }
    }
  }

  .cart-block-checkout {
    width: 610px;
    margin-right: 16px;
    margin-top: 38px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 0;

    @include mobile {
      margin-right: 0;
      width: 100%;
      margin-top: 20px;
      padding-top: 5px;
    }


    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: calc( 100% - 20px );
      top: 0;
      left: 10px;
      background-color: #302D2D;
    }

    &::after {
      position: absolute;
      content: "";
      height: 1px;
      width: calc( 100% - 20px );
      bottom: 0;
      left: 10px;
      background-color: #302D2D;
    }
  }

  .cart-total {
    font-weight: 400;
    font-size: 44px;
    line-height: 52px;
    width: 100%;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 8px;
    border-right: 1px solid #302D2D;
    border-left: 1px solid #302D2D;

    @include mobile  {
      font-size: 12px;
      line-height: 14px;
      padding-top: 7px;
      padding-bottom: 9px;
      margin-bottom: 0;
    }

  }

  .cart-footer.row {
    @include mobile  {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .cart-checkout.button {
    width: 100%;
    margin: 10px 0;
    padding: 12px 0 11px;
    border-right: 1px solid #302D2D;
    border-left: 1px solid #302D2D;
    background-color: transparent;
    color: inherit;
    position: relative;
    transition: color 0.4s;
    text-transform: uppercase;

    @include mobile  {
      font-size: 12px;
      line-height: 14px;
      margin: 0;
    }


    &:hover {
      color: #8F8F8F;
    }

    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: calc( 100% - 20px );
      top: -10px;
      left: 10px;
      background-color: #302D2D;

      @include mobile  {
        top: 0;
      }
    }
  }

}