.brand-list {
  margin-left: 10px;
  a   {
    margin-right: 12px;
    opacity: 0.4;
    transition: opacity 0.4s;

    &.active-link {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.brand {
  margin-top: -3px;
  margin-bottom: 10px;

  .brand__photo {
    width: 100%;
    height: auto;
    margin-top: 46px;

    @include mobile {
      margin-top: 31px;

      img {
        height: 220px;
        object-fit: cover;
      }
    }
  }

  ul {
    list-style: none;
    padding-left: 0;

  }

  &__right-text {
    padding-left: 78px;
    max-width: 532px;

    @include mobile {
      padding-left: 0;
      font-size: 12px;
      line-height: 14px;
    }

    p {
      margin-bottom: 20px;

      @include mobile {
        margin-bottom: 14px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .brand__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 0;
    grid-column-gap: 20px;

    font-size: 16px;
    line-height: 19px;
    margin: 0 auto 50px;

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      font-size: 10px;
      line-height: 12px;
      margin: 0 auto 30px;

    }

    &:first-child {
      padding-top: 50px;

      @include mobile {
        padding-top: 30px;
      }
    }

    h2 {
      font-size: 16px;
      line-height: 19px;
      padding-left: 68.6%;
      font-weight: normal;

      @include mobile {
        font-size: 10px;
        line-height: 12px;
        padding-left: 0;
        padding-bottom: 12px;
      }

    }
  }
}