.checkout {
  margin-bottom: 64px;

  @include mobile {
    margin-top: -16px;
  }

  &__product-list {
    margin-bottom: 50px;


  }


  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 178px;

    @media screen and (max-width: 1100px) {
      grid-column-gap: 40px;
    }

    @media screen and (max-width: 900px) {
      grid-template-columns: 1.4fr 1fr;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__inputs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &__input {
    height: 131px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    transition: opacity 0.6s;
    transition-delay: 0.1s;

    @include mobile {
      font-size: 18px;
      line-height: 110%;
      height: 78px;
    }


    &.visually-hidden {
      opacity: 0;
    }

    &--flat,
    &--zip {
      width: 48%;

      @media screen and (max-width: 1300px) {
        width: 100%;
      }

      @include mobile {
        width: 48%;
      }
    }

    &--country {
      @include mobile {
        height: auto;
        min-height: 78px;

        .checkout__note-form {
          font-size: 18px;
          line-height: 20px;
          padding-top: 27px;
          padding-right: 10px;
          padding-bottom: 4px;
          transition: all 0.3s;
        }
      }
    }

    .select2 {
      height: 61px;

      @include mobile {
        height: 72px;

      }
    }

    input,
    .select2-container {
      border: 0;
      border-bottom: 1px solid #302D2D;
      outline: none;
      font-size: 44px;
      line-height: 52px;
      background-color: transparent;
      margin-bottom: 32px;
      padding: 0;
      border-radius: 0;
      max-width: 611px;
      width: 100% !important;

      @include mobile {
        font-size: 18px;
        line-height: 36px;
        margin-bottom: 4px;
        max-width: 100%;
      }
    }

    .select2-selection {
      background-color: transparent;
      border: none;
      height: auto;
      outline: none;
    }



    .select2-container--default .select2-selection--single .select2-selection__rendered {
      color: #302D2D;;
      line-height: 64px;
      padding-left: 0;

      @include mobile {
        line-height: 113px;
      }
    }

    .select2-selection__arrow {
      display: none;
    }

    label {
      position: absolute;
      pointer-events: none;
      transition: all 0.4s;
      font-size: 44px;
      line-height: 52px;
      top: 48px;
      color: #D2D2D2;

      @include mobile {
        font-size: 18px;
        line-height: 110%;
        top: 48px;
      }
    }

    input:focus ~ label,
    input.filled ~ label,
    select ~ label {
      font-size: 16px;
      line-height: 19px;
      top: 17px;
      transition-property: top, font-size, line-height;
      color: #302D2D;

      @include mobile {
        font-size: 10px;
        line-height: 12px;
        top: 28px;
      }
    }
  }

  &__horizontal {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1300px) {
      flex-wrap: wrap;
    }

    @include mobile {
      flex-wrap: nowrap;
    }
  }

  &__summary {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 73px;

    @include mobile {
      margin-top: 43px;
      font-size: 12px;
      line-height: 110%;
    }



    table {
      width: 100%;


    }

    td {
      padding-bottom: 10px;
      padding-right: 15px;
    }

    th {
      padding-top: 10px;
      border-top: 1px solid #302D2D;
    }

    tr {
      td:last-child {
        width: 140px;

        @media screen and (max-width: 900px) {
          width: 60px;
        }

        @include mobile {
          padding-right: 0;
          text-align: right;
        }
      }

      th:last-child {
        @include mobile {
          padding-right: 0;
          text-align: right;
        }
      }
    }
  }

  &__note {
    transition: opacity 0.6s;
    opacity: 1;

    @media screen and (max-width: 1100px) {
      font-size: 22px;
      line-height: 24px;
    }

    @include mobile {
      display: none;
    }

    &.visually-hidden {
      opacity: 0;
    }
  }

  &__pay {
    margin-top: auto;
    margin-bottom: 25px;
    transition: opacity 0.6s;

    button {
      width: 100%;
      height: 72px;
      font-size: 44px;
      line-height: 52px;
      text-align: center;
      border: 0;
      outline: none;
      border-left: 1px solid #302D2D;
      border-right: 1px solid #302D2D;
      background-color: transparent;
      position: relative;
      transition: color 0.4s;
      color: #302D2D;
      text-transform: uppercase;

      @include mobile {
        font-size: 12px;
        line-height: 14px;
        height: 27px;
        width: calc(100% + 10px);
        margin-left: -5px;
      }


      &:hover {
        color: #8F8F8F;
      }

      &::before {
        position: absolute;
        content: "";
        height: 1px;
        width: calc( 100% - 20px );
        top: -10px;
        left: 10px;
        background-color: #302D2D;

        @include mobile {
          width: calc( 100% - 10px );
          top: -5px;
          left: 5px;
        }
      }

      &::after {
        position: absolute;
        content: "";
        height: 1px;
        width: calc( 100% - 20px );
        bottom: -10px;
        left: 10px;
        background-color: #302D2D;

        @include mobile {
          width: calc( 100% - 10px );
          bottom: -5px;
          left: 5px;
        }
      }
    }
  }

  .opacity {
    opacity: 0;
  }

  .opacity-0 {
    opacity: 0;
    height: 0;
    padding: 0;
  }
}

.select2-search--dropdown {
  display: none;
}