.checkout {
  margin-bottom: 64px;

  &__product-list {
    margin-bottom: 50px;
  }


  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 178px;
  }

  &__inputs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &__input {
    height: 131px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    transition: opacity 0.6s;
    transition-delay: 0.1s;

    &.visually-hidden {
      opacity: 0;
    }



    &--flat,
    &--zip {
      width: 48%;
    }

    .select2 {
      height: 61px;
    }

    input,
    .select2-container {
      border: 0;
      border-bottom: 1px solid #302D2D;
      outline: none;
      font-size: 44px;
      line-height: 52px;
      background-color: transparent;
      margin-bottom: 32px;
      padding: 0;
      border-radius: 0;
      max-width: 611px;
      width: 100% !important;
    }

    .select2-selection {
      background-color: transparent;
      border: none;
      height: auto;
      outline: none;
    }



    .select2-container--default .select2-selection--single .select2-selection__rendered {
      color: #302D2D;;
      line-height: 64px;
      padding-left: 0;
    }

    .select2-selection__arrow {
      display: none;
    }

    label {
      position: absolute;
      pointer-events: none;
      transition: all 0.4s;
      font-size: 44px;
      line-height: 52px;
      top: 48px;
    }

    input:focus ~ label,
    input.filled ~ label,
    select ~ label {
      font-size: 16px;
      line-height: 19px;
      top: 17px;
      transition-property: top, font-size, line-height;
    }
  }

  &__horizontal {
    display: flex;
    justify-content: space-between;
  }

  &__summary {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 73px;

    .opacity {
      opacity: 0;
    }

    table {
      width: 100%;


    }

    td {
      padding-bottom: 10px;
    }

    th {
      padding-top: 10px;
      border-top: 1px solid #302D2D;
    }

    tr {
      td:last-child {
        width: 140px;
      }
    }
  }

  &__note {
    transition: opacity 0.6s;
    opacity: 1;

    &.visually-hidden {
      opacity: 0;
    }
  }

  &__pay {
    margin-top: auto;
    margin-bottom: 25px;
    transition: opacity 0.6s;

    button {
      width: 100%;
      height: 72px;
      font-size: 44px;
      line-height: 52px;
      text-align: center;
      border: 0;
      outline: none;
      border-left: 1px solid #302D2D;
      border-right: 1px solid #302D2D;
      background-color: transparent;
      position: relative;
      transition: opacity 0.6s;

      &::before {
        position: absolute;
        content: "";
        height: 1px;
        width: calc( 100% - 20px );
        top: -10px;
        left: 10px;
        background-color: #302D2D;
      }

      &::after {
        position: absolute;
        content: "";
        height: 1px;
        width: calc( 100% - 20px );
        bottom: -10px;
        left: 10px;
        background-color: #302D2D;
      }
    }
  }
}

.select2-search--dropdown {
  display: none;
}