.sputnik-footer {
  padding: 10px 20px;
  font-size: 12px;
    line-height: 14px;
    color: #8F8F8F;
    text-transform: uppercase;

  .row {
    margin: 0;
  }

  .footer-menu-wrapper {
    margin: 0;
    padding: 0;
    border: 0;
    margin-right: auto;

  }

  .footer-lang {
    margin-right: 11px;
    a {
      margin-right: 7px;

    }
    a[aria-current="page"] {
      pointer-events: none;
      position: relative;

      &:after {
        position: absolute;
        content: "(";
        top: 0;
        left: -6px;
      }

      &:before {
        position: absolute;
        content: ")";
        top: 0;
        right: -6px;
      }
  }
  }

  .footer-menu {
    display: flex;
    background-color: transparent;
    list-style: none;
    border: none;
    width: auto;
    box-shadow: none;
    margin-bottom: 0;
    padding-left: 2px;
    font-feature-settings: 'case' on;


    li {
      margin-bottom: 0;
      margin-top: 0;
      transition: color 0.4s;

      &:hover {
        color: #302D2D;
      }

    }

  }

  .footer-menu-item {
    margin-right: 10px;
  }

  .social-menu {
    margin-bottom: 0;
  }

  .social-menu-link {
    color: inherit;
    padding-top: 0;
    padding-bottom: 0;
    transition: color 0.4s;

    &:hover {
      color: #302D2D;
    }
  }
}