.sputnik-footer {
  padding: 10px 20px;
  font-size: 12px;
  line-height: 14px;
  color: #8F8F8F;
  text-transform: uppercase;

  @include mobile {
    font-size: 20px;
    line-height: 24px;
    padding: 20px 10px;
  }

  .row {
    margin: 0;

    @include mobile {
      flex-direction: column;
    }
  }

  .footer-lang {
    @include mobile {
      order: 2;
    }
  }

  .footer-menu-wrapper {
    margin: 0;
    padding: 0;
    border: 0;
    margin-right: auto;

    @include mobile {
      order: 3;
      display: flex;
      flex-direction: column;
    }

  }

  .footer-lang {
    margin-right: 11px;
    a {
      margin-right: 7px;

    }
    a[aria-current="page"] {
      pointer-events: none;
      position: relative;

      &:after {
        position: absolute;
        content: "(";
        top: 0;
        left: -6px;
      }

      &:before {
        position: absolute;
        content: ")";
        top: 0;
        right: -6px;
      }
  }
  }

  .footer-menu {
    display: flex;
    background-color: transparent;
    list-style: none;
    border: none;
    width: auto;
    box-shadow: none;
    margin-bottom: 0;
    padding-left: 2px;
    font-feature-settings: 'case' on;

    @include mobile {
      flex-direction: column;
      margin-left: 0;
      padding-left: 0;
    }


    li {
      margin-bottom: 0;
      margin-top: 0;
      transition: color 0.4s;

      @include mobile {
        margin-left: 0;
      }

      &:hover {
        color: #302D2D;
      }

    }

  }

  .footer-menu-item {
    margin-right: 10px;
  }

  .social-menu {
    margin-bottom: 0;

    @include mobile {
      flex-direction: column;
      margin-left: 0;
    }
  }

  .social-menu-block {
    @include mobile {
      order: 1;
      margin-bottom: 25px;
    }
  }

  .social-menu-item {
    @include mobile {
      padding-left: 0;
    }
  }

  .social-menu-link {
    color: inherit;
    padding-top: 0;
    padding-bottom: 0;
    transition: color 0.4s;

    &:hover {
      color: #302D2D;
    }
  }
}