.sputnik-header {
  padding: 10px 20px;
  .row {
    margin: 0;
    align-items: flex-start;
  }

  .logotype-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $color-text;


  }

  .logotype-wrapper {
    margin: 0;

    .small-logo {
      position: fixed;
      height: 19px;
      width: 23px;
      top: 10px;
      left: 20px;
      z-index: 1;
      background-color: transparent;
    }
  }

  .logotype-link {
    padding: 0;
    z-index: 20;
    background-color: #F8F8F8;
    display: block;
    position: relative;

    img {
      height: 19px;
      width: 80px;

      margin-top: -4px;
    }
  }

  .catalog-menu {
    display: flex;
    background-color: transparent;
    list-style: none;
    border: none;
    width: auto;
    box-shadow: none;
    margin-bottom: 0;
    padding-left: 2px;


    .dark {
      opacity: 1 !important;
      color: #302D2D;
    }

    li {
      color: $color-text;

      margin-bottom: 0;

      a {
        transition: color 0.4s;

        &:hover {
          color: #8F8F8F;
        }
      }

      a:not(.active-link) {
        color: #8F8F8F;

        &:hover {
          color: #302D2D;
        }
      }


    }

  }

  .catalog-menu-wrapper {
    margin: 0;
    padding: 11px 0;
    margin-top: -10px;
    border: 0;
    margin-right: auto;

    &.menu-hide {
      transform: translateY(-20px);
      transition: transform 0.3s;

      &:hover {
        transform: translateY(0);
      }
    }
  }

  .sub-menu {
    text-transform: uppercase;
    padding-top: 2px;

    position: relative;
  }



  .collection-name {
    text-transform: uppercase;
    padding-top: 3px;
    margin-left: 23px;
    position: relative;

    &:before {
      position: absolute;
      content: "+";
      left: -13px;
    }
  }

  .catalog-menu-item.level-1 {
    margin-right: 4px;
  }

  .shopcart-widget-wrapper {
    color: #D2D2D2;
  }
}