.sputnik-header {
  padding: 10px 20px;

  @include mobile {
    padding: 7px 10px;
  }
  .row {
    margin: 0;
    align-items: flex-start;

    @include mobile {
      font-size: 10px;
      line-height: 12px;

      &.main-menu {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .catalog-menu {
          flex-direction: column;
        }

        .catalog-menu-wrapper {
          padding: 8px 0 0;
          margin: -10px auto 0 -4px;
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }

  .logotype-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $color-text;
  }

  .logotype-text {
    @include mobile {
      padding: 0;
      margin-top: 3px;
      display: inline-block;
    }
  }

  .logotype-wrapper {
    margin: 0;

    .small-logo {
      position: fixed;
      height: 19px;
      width: 23px;
      top: 10px;
      left: 20px;
      z-index: 1;
      background-color: transparent;

      @include mobile {
        height: 12px;
        width: 14px;
        top: 10px;
        left: 10px;
      }
    }
  }

  .logotype-link {
    padding: 0;
    z-index: 20;
    background-color: #F8F8F8;
    display: block;
    position: relative;

    img {
      height: 19px;
      width: 80px;
      margin-top: -4px;

      @include mobile {
        width: 50px;
        height: 12px;

        &.main {
          width: 99px;
          height: 24px;
        }
      }
    }
  }

  .catalog-menu {
    display: flex;
    background-color: transparent;
    list-style: none;
    border: none;
    width: auto;
    box-shadow: none;
    margin-bottom: 0;
    padding-left: 2px;

    @include mobile {
    }


    .dark {
      opacity: 1 !important;
      color: #302D2D !important;
    }

    li {
      color: $color-text;
      margin-bottom: 0;
      margin-left: .5rem;

      a {
        transition: color 0.4s;

        &:hover {
          color: #8F8F8F;
        }
      }

      a:not(.active-link) {
        color: #8F8F8F;

        &:hover {
          color: #302D2D;
        }
      }


    }

  }

  .catalog-menu-wrapper {
    margin: 0;
    padding: 11px 0;
    margin-top: -10px;
    border: 0;
    margin-right: auto;

    @include mobile {
      margin: -8px auto 0 0;
    }

    &.menu-hide {
      transform: translateY(-20px);
      transition: transform 0.3s;

      &:hover {
        transform: translateY(0);
      }

      @include tablet {
        transform: translateY(0);
      }
    }
  }

  .sub-menu {
    text-transform: uppercase;
    padding-top: 2px;

    position: relative;

    @include mobile {
      padding-top: 0px;
      padding-bottom: 2px;
    }
  }



  .collection-name {
    text-transform: uppercase;
    padding-top: 3px;
    margin-left: 23px;
    position: relative;

    &:before {
      position: absolute;
      content: "+";
      left: -13px;
    }

    @include mobile {
      margin-left: 11px;
      &:before {
        display: none;
      }
    }
  }

  .catalog-menu-item.level-1 {
    margin-right: 4px;
  }

  .shopcart-widget-wrapper {
    color: #D2D2D2;
  }
}