.main-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;

  @include mobile {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .main-page__photo img {
    object-fit: cover;
    width: 100%;
    max-height: calc( 100vh - 82px);
    object-position: center;
  }
}