.product-name {
  margin-left: 10px;
}

.product {
  margin-bottom: 81px;

  @include mobile {
    margin-bottom: 17px;
  }
  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "f f t";

    @include mobile {
      display: block;

      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }
  }

  &__header-slider {
    grid-area: f;
    margin-right: 10px;

    @include mobile {
      width: 100%;
    }
  }

  &__slider {
    .swiper-slide {
      display: flex;
      justify-content: space-between;



      .row {
        margin: 10px 0 0;
        font-size: 16px;
        line-height: 19px;
        font-feature-settings: 'ss04' on, 'case' on;
        color: #D2D2D2;

        @include mobile {
          font-size: 10px;
          line-height: 12px;
          margin: 0;
        }
      }
    }
  }

  &__slide-block {
    width: 49%;

    @include mobile {
      width: 100%;

    }

    img {
      height: 95.8%;

      @include mobile {
        height: 448px;
        object-fit: contain;
      }
    }
  }

  &__info {
    grid-area: t;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 29px;

    @include mobile {
      margin-top: 16px;
    }
  }

  &__name {
    font-weight: normal;
    font-size: 44px;
    line-height: 52px;
    font-feature-settings: 'case' on;
    width: 50%;
    margin-left: 13px;

    @include mobile {
      font-size: 20px;
      line-height: 110%;
      width: 100%;
      margin-left: 0;
      margin-bottom: 9px;
    }
  }

  &__price {
    display: inline-block;
    margin-left: auto;

    @include mobile {
      margin-right: 10px;
    }
  }

  &__add-to-cart {
    min-height: 118px;
    width: 100%;
    position: relative;

    @include mobile  {
      min-height: 71px;
      font-size: 10px;
      line-height: 12px;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 98px;
      top: 10px;
      background-color: #302D2D;

      @include mobile  {
        height: 86%;
      top: 7%;
      }
    }

    &::before {
      left: 0;

      @include mobile  {
        left: -5px;
      }
    }

    &::after {
      right: 0;

      @include mobile  {
        right: -5px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        height: 1px;
        width: calc( 100% - 20px );
        top: 0;
        left: 10px;
        background-color: #302D2D;
      }

      &::after {
        position: absolute;
        content: "";
        height: 1px;
        width: calc( 100% - 20px );
        bottom: 0;
        left: 10px;
        background-color: #302D2D;
      }
    }
  }

  &__inputs {
    position: relative;
    flex-grow: 1;
    padding: 20px 30px 20px;
    display: flex;
    justify-content: flex-start;

    @include mobile {
      padding: 11px 8px 12px;
    }

    input {
      display: none;
      position: relative;
    }

    label {
      margin: 0 30px 0 9px;
      cursor: pointer;
    }

    input:checked + label {
      position: relative;

      &:after {
        position: absolute;
        content: "(";
        top: 0;
        left: -6px;
      }

      &:before {
        position: absolute;
        content: ")";
        top: 0;
        right: -6px;
      }
    }

    .active {
      color: #302D2D;
    }
    .inactive {
      color: #D2D2D2;;
    }

    input:checked + label {
      color: #302D2D;
      pointer-events: none;
    }

  }

  &__form-button {
    flex-grow: 1;
    position: relative;
    padding: 20px 17px 20px 30px;
    display: flex;
    cursor: pointer;

    @include mobile {
      padding: 14px 28px 9px 30px;
    }


    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: calc( 100% - 20px );
      top: 0;
      left: 10px;
      background-color: #302D2D;
    }
     button {
       border: none;
       outline: none;
       background-color: transparent;
       margin: 0 auto;

       transition: color 0.4s;


      &:hover {
        color: #8F8F8F;
      }
     }

  }

  &__content {
    margin-top: 20px;

    ul {
      list-style: none;
      padding: 0;
      display: flex;

      @include mobile {
        margin-bottom: 15px;
      }
    }
    .tab-toggle {
      font-size: 16px;
      line-height: 19px;
      opacity: .4;
      color: #302D2D;
      border: 0;
      padding-left: 0;
      padding-right: 12px;

      @include mobile  {
        font-size: 10px;
        line-height: 12px;
        margin: 0;
        padding: 0 8px 0 0;
      }

      &.is-opened,
      &:hover {
        opacity: 1;
        border: 0;
        color: #302D2D;
      }
    }

    .ui-state-active a {
      opacity: 1;
    }

    .tab-block {
      border: 0;
      padding-top: 9px;
      min-height: 600px;

      @include mobile  {
        font-size: 20px;
        line-height: 110%;
        padding: 0;
        min-height: 400px;

        .big-text {
          line-height: 21px;
        }
      }
    }
  }


}