include mixins

block variables
- let mainTitle = "Sputnik";

doctype html
html( lang="ru" )
  head
    meta( charset="UTF-8" )
    title #{mainTitle} !{title && "| " + title}
    meta( name="viewport" content="width=device-width, initial-scale=1.0" )
    link( rel="preload" href="fonts/FavoritPro-Regular.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="stylesheet" href="css/style.min.css" )

  body
    header.sputnik-header
      .row(class=(isMain ? 'main-menu' : null))
        .logotype-wrapper
          .logotype
            img.small-logo(src="img/logo-small.svg", alt="лого" width="23" height="19")
            a.logotype-link(title='Sputnik' href=(isMain ? null : './main-page.html'))
              img(src="img/sputnik-logo-full.svg", alt="лого" width="80" height="19" class=(isMain ? 'main' : null))

        .catalog-menu-wrapper(class=(isMenuHide ? 'menu-hide' : null))
          ul.catalog-menu
            li.catalog-menu-item.menu-item
              a( target="blank" title="КОЛЛЕКЦИЯ" href="./collection.html" class=(isCollection ? 'active-link' : null) class=(isProduct ? 'active-link--touchable' : null) class=(isMain ? 'dark' : null)) КОЛЛЕКЦИЯ
            li.catalog-menu-item.menu-item
              a( target="blank" title="ПРОЕКТЫ" href="./projects.html" class=(isProjects ? 'active-link' : null) class=(isProject ? 'active-link--touchable' : null) class=(isMain ? 'dark' : null)) ПРОЕКТЫ
            li.catalog-menu-item.menu-item
              a( target="blank" title="БРЕНД" href="./brand.html" class=(isBrand ? 'active-link' : null) class=(isMain ? 'dark' : null)) БРЕНД
          .sub-menu(class=(isProject ? 'collection-name' : 'display-none'))
            span Liars Collective

          .sub-menu(class=(isBrand ? 'brand-list' : 'display-none'))
            a.active-link(href="#") ИДЕЯ
            a(href="#history") ИСТОРИЯ
            a(href="#team") КОМАНДА
            a(href="#page") САЙТ

          .sub-menu(class=(isProduct ? 'product-name' : 'display-none'))
            span РЮКЗАК (КОЛХАС)


        .shopcart-widget-wrapper(class=(isMain ? 'display-none' : null ))
          span (
          span.logotype-text 0
          span )



    main
      block content

    footer
      .footer.sputnik-footer(class=(isMain ? 'main-footer' : null))
        .row
          .footer-lang
            a(href="/en") EN
            a(href="/ru" aria-current="page") RU
          .footer-menu-wrapper
            ul.footer-menu
              li.footer-menu-item.footer-menu-item--exceptmobile(class=(isMain ? null : 'display-none-mob'))
                a( target="blank" title="контакты" href="./contacts.html" class=(isContacts ? 'active-link' : null)) контакты
              li.footer-menu-item
                a( target="blank" title="ИНФОРМАЦИЯ" href="./information.html" class=(isInformation ? 'active-link' : null)) ИНФОРМАЦИЯ
              li.footer-menu-item
                a( target="blank" title="корпоративные заказы" href="./corporate.html" class=(isCorporate ? 'active-link' : null)) корпоративные заказы
          .social-menu-block
            ul.social-menu
              li.footer-menu-item.footer-menu-item--onlymobile(class=(isMain ? 'display-none' : 'display-none-dt') class=(isContacts ? 'active-link' : null))
                a( target="blank" title="контакты" href="./contacts.html" ) контакты
              li.social-menu-item
                a.social-menu-link( target="blank" title="instagram" href="http://instagram.com/") instagram
              li.social-menu-item
                a.social-menu-link( target="blank" title="facebook" href="http://facebook.com/") facebook


    block scripts
      script( src="js/script.min.js" )
