

mixin options
    option(value='Австралия') Австралия
    option(value='Австрия') Австрия
    option(value='Азербайджан') Азербайджан
    option(value='Албания') Албания
    option(value='Алжир') Алжир
    option(value='Американское Самоа') Американское Самоа
    option(value='Ангилья') Ангилья
    option(value='Ангола') Ангола
    option(value='Андорра') Андорра
    option(value='Антигуа и Барбуда') Антигуа и Барбуда
    option(value='Аргентина') Аргентина
    option(value='Армения') Армения
    option(value='Аруба') Аруба
    option(value='Афганистан') Афганистан
    option(value='Багамы') Багамы
    option(value='Бангладеш') Бангладеш
    option(value='Барбадос') Барбадос
    option(value='Бахрейн') Бахрейн
    option(value='Беларусь') Беларусь
    option(value='Белиз') Белиз
    option(value='Бельгия') Бельгия
    option(value='Бенин') Бенин
    option(value='Бермуды') Бермуды
    option(value='Болгария') Болгария
    option(value='Боливия') Боливия
    option(value='Бонайре, Синт-Эстатиус и Саба') Бонайре, Синт-Эстатиус и Саба
    option(value='Босния и Герцеговина') Босния и Герцеговина
    option(value='Ботсвана') Ботсвана
    option(value='Бразилия') Бразилия
    option(value='Бруней-Даруссалам') Бруней-Даруссалам
    option(value='Буркина-Фасо') Буркина-Фасо
    option(value='Бурунди') Бурунди
    option(value='Бутан') Бутан
    option(value='Вануату') Вануату
    option(value='Ватикан') Ватикан
    option(value='Великобритания') Великобритания
    option(value='Венгрия') Венгрия
    option(value='Венесуэла') Венесуэла
    option(value='Виргинские острова, Британские') Виргинские острова, Британские
    option(value='Виргинские острова, США') Виргинские острова, США
    option(value='Восточный Тимор') Восточный Тимор
    option(value='Вьетнам') Вьетнам
    option(value='Габон') Габон
    option(value='Гаити') Гаити
    option(value='Гайана') Гайана
    option(value='Гамбия') Гамбия
    option(value='Гана') Гана
    option(value='Гваделупа') Гваделупа
    option(value='Гватемала') Гватемала
    option(value='Гвинея') Гвинея
    option(value='Гвинея-Бисау') Гвинея-Бисау
    option(value='Германия') Германия
    option(value='Гибралтар') Гибралтар
    option(value='Гондурас') Гондурас
    option(value='Гонконг') Гонконг
    option(value='Гренада') Гренада
    option(value='Гренландия') Гренландия
    option(value='Греция') Греция
    option(value='Грузия') Грузия
    option(value='Гуам') Гуам
    option(value='Дания') Дания
    option(value='Джибути') Джибути
    option(value='Доминика') Доминика
    option(value='Доминиканская Республика') Доминиканская Республика
    option(value='Египет') Египет
    option(value='Замбия') Замбия
    option(value='Западная Сахара') Западная Сахара
    option(value='Зимбабве') Зимбабве
    option(value='Израиль') Израиль
    option(value='Индия') Индия
    option(value='Индонезия') Индонезия
    option(value='Иордания') Иордания
    option(value='Ирак') Ирак
    option(value='Иран') Иран
    option(value='Ирландия') Ирландия
    option(value='Исландия') Исландия
    option(value='Испания') Испания
    option(value='Италия') Италия
    option(value='Йемен') Йемен
    option(value='Кабо-Верде') Кабо-Верде
    option(value='Казахстан') Казахстан
    option(value='Камбоджа') Камбоджа
    option(value='Камерун') Камерун
    option(value='Канада') Канада
    option(value='Катар') Катар
    option(value='Кения') Кения
    option(value='Кипр') Кипр
    option(value='Кирибати') Кирибати
    option(value='Китай') Китай
    option(value='Колумбия') Колумбия
    option(value='Коморы') Коморы
    option(value='Конго') Конго
    option(value='Конго, демократическая республика') Конго, демократическая республика
    option(value='Коста-Рика') Коста-Рика
    option(value='Кот д`Ивуар') Кот д`Ивуар
    option(value='Куба') Куба
    option(value='Кувейт') Кувейт
    option(value='Кыргызстан') Кыргызстан
    option(value='Кюрасао') Кюрасао
    option(value='Лаос') Лаос
    option(value='Латвия') Латвия
    option(value='Лесото') Лесото
    option(value='Либерия') Либерия
    option(value='Ливан') Ливан
    option(value='Ливия') Ливия
    option(value='Литва') Литва
    option(value='Лихтенштейн') Лихтенштейн
    option(value='Люксембург') Люксембург
    option(value='Маврикий') Маврикий
    option(value='Мавритания') Мавритания
    option(value='Мадагаскар') Мадагаскар
    option(value='Макао') Макао
    option(value='Македония') Македония
    option(value='Малави') Малави
    option(value='Малайзия') Малайзия
    option(value='Мали') Мали
    option(value='Мальдивы') Мальдивы
    option(value='Мальта') Мальта
    option(value='Марокко') Марокко
    option(value='Мартиника') Мартиника
    option(value='Маршалловы Острова') Маршалловы Острова
    option(value='Мексика') Мексика
    option(value='Микронезия, федеративные штаты') Микронезия, федеративные штаты
    option(value='Мозамбик') Мозамбик
    option(value='Молдова') Молдова
    option(value='Монако') Монако
    option(value='Монголия') Монголия
    option(value='Монтсеррат') Монтсеррат
    option(value='Мьянма') Мьянма
    option(value='Намибия') Намибия
    option(value='Науру') Науру
    option(value='Непал') Непал
    option(value='Нигер') Нигер
    option(value='Нигерия') Нигерия
    option(value='Нидерланды') Нидерланды
    option(value='Никарагуа') Никарагуа
    option(value='Ниуэ') Ниуэ
    option(value='Новая Зеландия') Новая Зеландия
    option(value='Новая Каледония') Новая Каледония
    option(value='Норвегия') Норвегия
    option(value='Объединенные Арабские Эмираты') Объединенные Арабские Эмираты
    option(value='Оман') Оман
    option(value='Остров Мэн') Остров Мэн
    option(value='Остров Норфолк') Остров Норфолк
    option(value='Острова Кайман') Острова Кайман
    option(value='Острова Кука') Острова Кука
    option(value='Острова Теркс и Кайкос') Острова Теркс и Кайкос
    option(value='Пакистан') Пакистан
    option(value='Палау') Палау
    option(value='Палестинская автономия') Палестинская автономия
    option(value='Панама') Панама
    option(value='Папуа - Новая Гвинея') Папуа - Новая Гвинея
    option(value='Парагвай') Парагвай
    option(value='Перу') Перу
    option(value='Питкерн') Питкерн
    option(value='Польша') Польша
    option(value='Португалия') Португалия
    option(value='Пуэрто-Рико') Пуэрто-Рико
    option(value='Реюньон') Реюньон
    option(selected value='Россия') Россия
    option(value='Руанда') Руанда
    option(value='Румыния') Румыния
    option(value='США') США
    option(value='Сальвадор') Сальвадор
    option(value='Самоа') Самоа
    option(value='Сан-Марино') Сан-Марино
    option(value='Сан-Томе и Принсипи') Сан-Томе и Принсипи
    option(value='Саудовская Аравия') Саудовская Аравия
    option(value='Свазиленд') Свазиленд
    option(value='Святая Елена') Святая Елена
    option(value='Северная Корея') Северная Корея
    option(value='Северные Марианские острова') Северные Марианские острова
    option(value='Сейшелы') Сейшелы
    option(value='Сенегал') Сенегал
    option(value='Сент-Винсент') Сент-Винсент
    option(value='Сент-Китс и Невис') Сент-Китс и Невис
    option(value='Сент-Люсия') Сент-Люсия
    option(value='Сент-Пьер и Микелон') Сент-Пьер и Микелон
    option(value='Сербия') Сербия
    option(value='Сингапур') Сингапур
    option(value='Синт-Мартен') Синт-Мартен
    option(value='Сирийская Арабская Республика') Сирийская Арабская Республика
    option(value='Словакия') Словакия
    option(value='Словения') Словения
    option(value='Соломоновы Острова') Соломоновы Острова
    option(value='Сомали') Сомали
    option(value='Судан') Судан
    option(value='Суринам') Суринам
    option(value='Сьерра-Леоне') Сьерра-Леоне
    option(value='Таджикистан') Таджикистан
    option(value='Таиланд') Таиланд
    option(value='Тайвань') Тайвань
    option(value='Танзания') Танзания
    option(value='Того') Того
    option(value='Токелау') Токелау
    option(value='Тонга') Тонга
    option(value='Тринидад и Тобаго') Тринидад и Тобаго
    option(value='Тувалу') Тувалу
    option(value='Тунис') Тунис
    option(value='Туркменистан') Туркменистан
    option(value='Турция') Турция
    option(value='Уганда') Уганда
    option(value='Узбекистан') Узбекистан
    option(value='Украина') Украина
    option(value='Уоллис и Футуна') Уоллис и Футуна
    option(value='Уругвай') Уругвай
    option(value='Фарерские острова') Фарерские острова
    option(value='Фиджи') Фиджи
    option(value='Филиппины') Филиппины
    option(value='Финляндия') Финляндия
    option(value='Фолклендские острова') Фолклендские острова
    option(value='Франция') Франция
    option(value='Французская Гвиана') Французская Гвиана
    option(value='Французская Полинезия') Французская Полинезия
    option(value='Хорватия') Хорватия
    option(value='Центрально-Африканская Республика') Центрально-Африканская Республика
    option(value='Чад') Чад
    option(value='Черногория') Черногория
    option(value='Чехия') Чехия
    option(value='Чили') Чили
    option(value='Швейцария') Швейцария
    option(value='Швеция') Швеция
    option(value='Шпицберген и Ян Майен') Шпицберген и Ян Майен
    option(value='Шри-Ланка') Шри-Ланка
    option(value='Эквадор') Эквадор
    option(value='Экваториальная Гвинея') Экваториальная Гвинея
    option(value='Эритрея') Эритрея
    option(value='Эстония') Эстония
    option(value='Эфиопия') Эфиопия
    option(value='Южная Корея') Южная Корея
    option(value='Южно-Африканская Республика') Южно-Африканская Республика
    option(value='Южный Судан') Южный Судан
    option(value='Ямайка') Ямайка
    option(value='Япония') Япония
