extends pug/layout.pug

block variables
  - let title = 'Projects';
  - let isBrand = true;
  - let isMenuHide = true;

block content
  .container
    .brand
      .brand__text.big-text
        | (SPUTNIK) — при всем уважении к советским модным учреждениям — от районных домов моды до Общесоюзного дома&nbsp;моделей одежды, главными проводниками новых идей и&nbsp;веяний становились обычные и необычные иностранные туристы. После любых более-менее масштабных международных мероприятий в стране всегда оседало много иностранной одежды, как физически (фарцовщики старались на славу), так&nbsp;и&nbsp;в&nbsp;виде идей (увиденную на улицах западную одежду копировали как простые обыватели, так и художники-модельеры). На Олимпиаду-80 в Москве приехало больше 40 тысяч спутников.
      .brand__photo
        img(src="img/brand@1x.jpg" srcset="img/brand@2x.jpg 2x", alt="проект")
      ul.brand__items
        li.brand__item(id="history")
          h2 (ИСТОРИЯ)
          .brand__text
            p Бренд СПУТНИК был основан в далёком 2013 году таким-то и таким-то затем-то и затем-то. Я бы написал тут текст, но я не копирайтер, не журналист и не пиарщик. Бренд СПУТНИК был основан в далёком 2013 году таким-то и таким-то затем-то и затем-то. Я бы написал тут текст, но я не копирайтер, не журналист и не пиарщик.Бренд СПУТНИК был основан в далёком 2013 году таким-то и таким-то затем-то и затем-то. Я бы написал тут текст, но я не копирайтер, не журналист и не пиарщик.Бренд СПУТНИК был основан в далёком 2013 году таким-то и таким-то затем-то и затем-то. Я бы написал тут текст, но я не копирайтер, не журналист и не пиарщик.
            p Бренд СПУТНИК был основан в далёком 2013 году таким-то и таким-то затем-то и затем-то. Я бы написал тут текст, но я не копирайтер, не журналист и не пиарщик.Бренд СПУТНИК был основан в далёком 2013 году таким-то и таким-то затем-то и затем-то. Я бы написал тут текст, но я не копирайтер, не журналист и не пиарщик.Бренд СПУТНИК был основан в далёком 2013 году таким-то и таким-то затем-то и затем-то. Я бы написал тут текст, но я не копирайтер, не журналист и не пиарщик.
        li.brand__item(id="team")
          h2 (КОМАНДА)
          .brand__text
            ul
              li Олег Коба (основатель и главный дизайнер)
              li Алексей Мавроди (финансовая пирамида)
              li Моня (спутник)
              li Данила Ермаков (разработка сайта)
              li Артём Матюшкин (дизайн)
              li Катя Сикачёва (красота)
        li.brand__item( id="page" )
          h2 (САЙТ)
          .brand__text
            ul
              li Дизайн сайта: Non-Objective Works
              li Фотографии: Вера Мишурина и Маша Жидкова
              li Разработка: Данила Ермаков
              li Вёрстка: Имя Фамилия
              li Иллюстрации: Ромина Мальта
              li Шрифт: Favorit (Dinamo)