extends pug/layout.pug
//- extends pug/countries.pug

block variables
  - let title = 'Checkout';


block content
  .container
    .checkout
      form(action="post")
        .checkout__inputs
          .checkout__input.checkout__input--email
            input.form__input(type="email" id="email")
            label(for="email") Ваш имейл
          .checkout__input.checkout__input--name.visually-hidden
            input.form__input(type="text" id="name")
            label(for="name") Ваше имя
          .checkout__input.checkout__input--country.visually-hidden
            select.form__input.form__select(id="country")
                +options
            label(for="country") Страна
          .checkout__input.checkout__input--city.visually-hidden
            input.form__input(type="text" id="city")
            label(for="city") Город
          .checkout__input.checkout__input--address.visually-hidden
            input.form__input(type="text" id="address")
            label(for="address") Ваш адрес
          .inputs__horizontal
            .checkout__input.checkout__input--flat.visually-hidden
              input.only-number.form__input(type="text" id="flat" pattern="^[ 0-9]+$")
              label(for="flat") № квартиры
            .checkout__input.checkout__input--zip.visually-hidden
              input.only-number.form__input(type="text" id="zip" pattern="^[ 0-9]+$")
              label(for="zip") Ваш индекс
          .checkout__input.checkout__input--phone.visually-hidden
            input.only-number.form__input(type="tel" id="phone" pattern="^[ 0-9]+$")
            label(for="phone") Ваш телефон


        .checkout__summary
          .checkout__product-list
            table
              tr
                td Роллтоп (КОЛХАС) (Ч) × 1
                td 1000₽
              tr
                td Тоут (РЕМ) (С) × 2
                td 500₽
              tr
                td Кросс-боди (КАЛАТРАВА) (С) × 10
                td 700₽
              tr
                td Доставка СДЭК по России
                td 400₽
              tr
                th Сумма:
                th 2600₽
          .checkout__note.big-text.opacity
            | Мы свяжемся с вами по&nbsp;почте, чтобы обсудить наиболее удобный и&nbsp;быстрый способ доставки, а&nbsp;потом пришлём ссылку для оплаты.
          .checkout__pay.opacity
            button(type="submit") → Оплатить