extends pug/layout.pug

block variables
  - let title = 'Collection';
  - let isCollection = true;

block content
  .container
    .collection
      .collection-item.one-1
         a(href="./product.html" title="товар")
          img(src="img/catalog1@1x.jpg" srcset="img/catalog1@2x.jpg 2x", alt="каталог")
          .collection-item__info.row.flex-between
            span.brackets КОЛХАС
            span 1000₽
      .collection-item.two-2
        img(src="img/catalog2@2x.jpg" srcset="img/catalog2@2x.jpg 2x", alt="каталог")

      .collection-item.product-card.one-2
        a(href="./product.html" title="товар")
          img(src="img/catalog3@1x.jpg" srcset="img/catalog3@2x.jpg 2x", alt="каталог")
          .collection-item__info.row.flex-between
            span.brackets КОЛХАС
            span 1000₽
      .collection-item.product-card.one-1
        a(href="./product.html" title="товар")
          img(src="img/catalog4@1x.jpg" srcset="img/catalog4@2x.jpg 2x", alt="каталог")
          .collection-item__info.row.flex-between
            span.brackets КОЛХАС
            span 1000₽
      .collection-item.product-card.one-3
        a(href="./product.html" title="товар")
          img(src="img/catalog5@1x.jpg" srcset="img/catalog5@2x.jpg 2x", alt="каталог")
          .collection-item__info.row.flex-between
            span.brackets КОЛХАС
            span 1000₽
      .collection-item.product-card.two-1
        img(src="img/catalog6@1x.jpg" srcset="img/catalog6@2x.jpg 2x", alt="каталог")
      .collection-item.product-card.one-2
        a(href="./product.html" title="товар")
          img(src="img/catalog7@1x.jpg" srcset="img/catalog7@2x.jpg 2x", alt="каталог")
          .collection-item__info.row.flex-between
            span.brackets КОЛХАС
            span 1000₽
      .collection-item.product-card.one-1
        a(href="./product.html" title="товар")
          img(src="img/catalog8@1x.jpg" srcset="img/catalog8@2x.jpg 2x", alt="каталог")
          .collection-item__info.row.flex-between
            span.brackets КОЛХАС
            span 1000₽
      .collection-item.product-card.one-3
        a(href="./product.html" title="товар")
          img(src="img/catalog9@1x.jpg" srcset="img/catalog9@2x.jpg 2x", alt="каталог")
          .collection-item__info.row.flex-between
            span.brackets КОЛХАС
            span 1000₽
