extends pug/layout.pug

block variables
  - let title = 'Information';
  - let isCorporate = true;

block content
  .container
    .corporate
      .big-text.corporate__text
        | (SPUTNIK) также делает white label проекты для корпоративных заказчиков, его слова подтверждает Юлия Шпадырева: «Лучше  выбрать проверенную студию с хорошей репутацией. Лично  я ни разу не пересекалась в работе с мастерами, которые недобросовестно ухаживали за рабочим местом. Мы работаем  с кровью клиента, наша задача не перенести кровь одного на ранку другого. Более того, мастер первым сталкивается с кровью, поэтому в интересах мастера, чтобы все было стерильно. Тем более что сейчас есть много доступных средств: от всевозможных антисептиков до одноразовых деталей: колпачки, иглы, усики — все это выбрасывается после каждого клиента».
      .centered-block
        .centered-block__container
          .centered-block__block.centered-block__block--social
            h2 (КЛИЕНТЫ)
            ul
              li.big-text Liars Collective
              li.big-text Человек и Пароход
              li.big-text Республика
              li.big-text 2Sharp
              li.big-text Weleda
              li.big-text Dodo Pizza
              li.big-text Аскон
              li.big-text Wrike
              li.big-text Oxxxyshop