extends pug/layout.pug

block variables
  - let title = 'Thanks';


block content
  .container
    .final
      p.big-text Спасибо за заказ! Скоро на вашу почту придёт письмо с подтверждением. Если у вас остались вопросы — пишите нам на <a href="mailto:hello@sputnik-bags.ru">hello@sputnik-bags.ru</a>