ul
  li
    a(href="./main-page.html")   главная +
  li
    a(href="./collection.html")    Коллекция +
  li
    a(href="./projects.html")   Проекты +
  li
    a(href="./project.html")   Страница проекта +
  li
    a(href="./product.html")    Продукт +
  li
    a(href="./contacts.html")   Контакты +
  li
    a(href="./information.html")   Информация +
  li
    a(href="./corporate.html")   Корпоративные заказы +
  li
    a(href="./basket.html")   Корзина
  li
    a(href="./checkout.html")   checkout
  li
    a(href="./final.html")   Спасибо за заказ