ul
  li
    a(href="./main.html")   главная
  li
    a(href="./collection.html")    Коллекция
  li
    a(href="./projects.html")   Проекты
  li
    a(href="./project-page.html")   Страница проекта
  li
    a(href="./product.html")    Продукт
  li
    a(href="./contacts.html")   Контакты
  li
    a(href="./information.html")   Информация
  li
    a(href="./corporate.html")   Корпоративные заказы
  li
    a(href="./basket.html")   Корзина
  li
    a(href="./checkout.html")   checkout
  li
    a(href="./corporate.html")   Корпоративные заказы