extends pug/layout.pug

block variables
  - let title = 'Information';
  - let isInformation = true;

block content
  .container
    .brand.information
      ul.brand__items
        li.brand__item
          h2 (ОПЛАТА И ДОСТАВКА)
          .brand__right-text
            p Бренд СПУТНИК был основан в далёком 2013 году таким-то и таким-то затем-то и затем-то. Я бы написал тут текст, но я не копирайтер, не журналист и не пиарщик. Бренд СПУТНИК был основан в далёком 2013 году таким-то и таким-то затем-то и затем-то. Я бы написал тут текст, но я не копирайтер, не журналист и не пиарщик.Бренд СПУТНИК был основан в далёком 2013 году таким-то и таким-то затем-то и затем-то. Я бы написал тут текст, но я не копирайтер, не журналист и не пиарщик.Бренд СПУТНИК был основан в далёком 2013 году таким-то и таким-то затем-то и затем-то. Я бы написал тут текст, но я не копирайтер, не журналист и не пиарщик.
            p Бренд СПУТНИК был основан в далёком 2013 году таким-то и таким-то затем-то и затем-то. Я бы написал тут текст, но я не копирайтер, не журналист и не пиарщик.Бренд СПУТНИК был основан в далёком 2013 году таким-то и таким-то затем-то и затем-то. Я бы написал тут текст, но я не копирайтер, не журналист и не пиарщик.Бренд СПУТНИК был основан в далёком 2013 году таким-то и таким-то затем-то и затем-то. Я бы написал тут текст, но я не копирайтер, не журналист и не пиарщик.
        li.brand__item
          h2 (ПОМОЩЬ ПОКУПАТЕЛЮ)
          .brand__right-text
            ul
              li Олег Коба (основатель и главный дизайнер)
              li Алексей Мавроди (финансовая пирамида)
              li Моня (спутник)
              li Данила Ермаков (разработка сайта)
              li Артём Матюшкин (дизайн)
              li Катя Сикачёва (красота)
        li.brand__item
          h2 (УХОД И ГАРАНТИЯ)
          .brand__right-text
            ul
              li Дизайн сайта: Non-Objective Works
              li Фотографии: Вера Мишурина и Маша Жидкова
              li Разработка: Данила Ермаков
              li Вёрстка: Имя Фамилия
              li Иллюстрации: Ромина Мальта
              li Шрифт: Favorit (Dinamo)