extends pug/layout.pug

block variables
  - let title = 'Sputnik';

block content
  .container
    .main-page
      .main-page__photo
        img(src="img/main@1x.jpg" srcset="img/main@2x.jpg 2x", alt="главная")

      .main-page__photo
        img(src="img/main-bag@1x.jpg" srcset="img/main-bag@2x.jpg 2x", alt="главная")