extends pug/layout.pug

block variables
  - let title = 'Product';
  - let isCollection = true;
  - let isProduct = true;
  - let isMenuHide = true;


block content
  .container
    .product
      .product__header
        .product__header-slider
          .product__slider.swiper-container
            .swiper-wrapper
              .swiper-slide
                .product__slide-block
                  img.grey(src="img/product-grey@1x.jpg" srcset="img/product-grey@2x.jpg 2x", alt="проект")
                  .product__slide-info.row.flex-between
                    span 01
                    span /04

              .swiper-slide
                .product__slide-block
                  img.grey(src="img/product-grey@1x.jpg" srcset="img/product-grey@2x.jpg 2x", alt="проект")
                  .product__slide-info.row.flex-between
                    span 01
                    span /04

              .swiper-slide
                .product__slide-block
                  img.grey(src="img/product-grey@1x.jpg" srcset="img/product-grey@2x.jpg 2x", alt="проект")
                  .product__slide-info.row.flex-between
                    span 01
                    span /04

            .swiper-button-prev
            .swiper-button-next
        .product__info
          .product__name Роллтоп (КОЛХАС)
          .product__add-to-cart
            form(action="post")
              .product__inputs
                input.radio( type="radio" id="black" name="color" value="black")
                label.radio-label( for="black" ) ЧЁРНЫЙ
                input.radio( type="radio" id="grey" name="color" value="grey" )
                label.radio-label( for="grey" ) СЕРЫЙ
                span.product__price 1000₽
              .product__form-button
                button(type="button") → ДОБАВИТЬ В КОРЗИНУ
      .product__content.tab(id="tabs")
        ul
          li
            a.tab-toggle( href="#tabs-1" ) (ОПИСАНИЕ)
          li
            a.tab-toggle( href="#tabs-2" ) (ДЕТАЛИ)
          li
            a.tab-toggle( href="#tabs-3" ) (УХОД)
        .tab-block( id="tabs-1" )
          .tab-block-inner
            .big-text
              | В новой сумке мы соединили консервативный канвас с&nbsp;современной технологичной фурнитурой. Классическая сумка&nbsp;с&nbsp;невероятным функционалом станет вашим ежедневным cпутником в&nbsp;городских джунглях. Сумка имеет внутренний карман на&nbsp;молнии для&nbsp;документов и&nbsp;важных мелочей, а&nbsp;также два&nbsp;кармана из&nbsp;сетки по&nbsp;бокам, обрамленных резинкой, для термоса, бутылки или зонта. Кроме того, внутри есть лента для&nbsp;ключей, которая удобно отстегивается с&nbsp;помощью фастекса. Сумка имеет две ручки из&nbsp;канваса и&nbsp;нейлоновый ремень на&nbsp;карабинах. Ремень имеет удобную регулировку, чтобы вы&nbsp;подобрали оптимальную для себя длину.
        .tab-block( id="tabs-2" )
          .tab-block-inner
            .big-text
              | Рюкзак сделан из канваса плотностью 17 унций. Его размер —  36 × 35 × 11 см. Внутри есть карман для ноутбука до 15 дюймов  и потайной карман, например, для документов. Есть внешний карман, в котором также расположены петли для ручек  и карабин для ключей.
        .tab-block( id="tabs-3" )
          .tab-block-inner
            .big-text
              | Тут ещё какой-то текст про уход.