extends pug/layout.pug

block variables
  - let title = 'Projects';
  - let isProjects = true;

block content
  .container
    .collection
      .collection-item
         a(href="./project.html" title="проект")
          img(src="img/catalog1@1x.jpg" srcset="img/catalog1@2x.jpg 2x", alt="проект")
          .collection-item__info.row.flex-between.row.flex-between
            span (05)
            span n-o w
      .collection-item
         a(href="./project.html" title="проект")
          img(src="img/catalog1@1x.jpg" srcset="img/catalog1@2x.jpg 2x", alt="проект")
          .collection-item__info.row.flex-between.row.flex-between
            span (04)
            span liars collective
      .collection-item
         a(href="./project.html" title="проект")
          img(src="img/catalog1@1x.jpg" srcset="img/catalog1@2x.jpg 2x", alt="проект")
          .collection-item__info.row.flex-between.row.flex-between
            span (03)
            span VERLÉ
      .collection-item
         a(href="./project.html" title="проект")
          img(src="img/catalog1@1x.jpg" srcset="img/catalog1@2x.jpg 2x", alt="проект")
          .collection-item__info.row.flex-between.row.flex-between
            span (02)
            span flowgardenz
      .collection-item
         a(href="./project.html" title="проект")
          img(src="img/catalog1@1x.jpg" srcset="img/catalog1@2x.jpg 2x", alt="проект")
          .collection-item__info.row.flex-between.row.flex-between
            span (01)
            span человек и пароход
