extends pug/layout.pug

block variables
  - let title = 'Projects';
  - let isProjects = true;

block content
  .container
    .collection
      .collection-item
         a(href="/project.html" title="проект")
          img(src="img/catalog1@1x.jpg" srcset="img/catalog1@2x.jpg 2x", alt="проект")
          .collection-item__info.row.flex-between.row.flex-between
            span.brackets 05
            span n-o w
      .collection-item
         a(href="/project.html" title="проект")
          img(src="img/catalog1@1x.jpg" srcset="img/catalog1@2x.jpg 2x", alt="проект")
          .collection-item__info.row.flex-between.row.flex-between
            span.brackets 04
            span liars collective
      .collection-item
         a(href="/project.html" title="проект")
          img(src="img/catalog1@1x.jpg" srcset="img/catalog1@2x.jpg 2x", alt="проект")
          .collection-item__info.row.flex-between.row.flex-between
            span.brackets 03
            span VERLÉ
      .collection-item
         a(href="/project.html" title="проект")
          img(src="img/catalog1@1x.jpg" srcset="img/catalog1@2x.jpg 2x", alt="проект")
          .collection-item__info.row.flex-between.row.flex-between
            span.brackets 02
            span flowgardenz
      .collection-item
         a(href="/project.html" title="проект")
          img(src="img/catalog1@1x.jpg" srcset="img/catalog1@2x.jpg 2x", alt="проект")
          .collection-item__info.row.flex-between.row.flex-between
            span.brackets 01
            span человек и пароход
