html {
  text-rendering: optimizeLegibility;
  text-size-adjust: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 44px;

  @include mobile {
    font-size: 17px;
  }
}

* {
  box-sizing: border-box;
  font-family: $font-family !important;
  font-feature-settings: 'ss04' on, 'case' on;
}

body {
  min-width: $width-min;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-weight: 400;
  color: $color-text;
  background-color: $color-bg;
  overflow-x: hidden;
  box-sizing: border-box;

  @include mobile {
    font-size: 20px;
    line-height: 24px;
  }

}

a {
  color: inherit;
  text-decoration: none;
}

.active-link {
  opacity: 1;
  pointer-events: none;
  color: #302D2D;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden-mob {
  @include mobile {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0;
    border: 0;
    margin: -1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.display-none {
  display: none;
}

.container {
  position: relative;
  min-height: calc(100vh - 82px);
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @include mobile {
    padding: 0 10px;
    min-height: calc(100vh - 96px);

  }
}

button {
  outline: none;
}

.big-text {
  font-weight: normal;
  font-size: 44px;
  line-height: 52px;
  font-feature-settings: 'ss04' on, 'case' on;
  color: #302D2D;

  @include mobile {
    font-size: 18px;
    line-height: 20px;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
}

input[type="time"]::-webkit-clear-button {
  -webkit-appearance: none;
}

@-webkit-keyframes autofill {
  to {
    color: inherit !important;
    background: transparent !important;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill !important;
  -webkit-animation-fill-mode: both !important;
}

input {
  border-radius: 0;
}

.brackets {
  position: relative;
  display: block;

    &:after {
      position: absolute;
      content: "(";
      top: 0;
      left: -6px;
    }

    &:before {
      position: absolute;
      content: ")";
      top: 0;
      right: -6px;
    }
}


