$width-desktop: 1400px;
$width-tablet: 786px;
$width-mobile: 320px;
$width-min: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font-family: "FavoritPro-Regular", "Arial", sans-serif;

$color-white: #ffffff;
$color-black: #000000;
$color-text: #302D2D;
$color-bg: #F8F8F8;

